/* Estilos gerais */
body {
    font-family: 'Arial', sans-serif;
    background-color: #331d46;
    margin: 0;
    padding: 0;
}

header {
    background: rgba(0, 0, 0, 0.7);
    padding: 1rem;
    position: relative;
    justify-content: center;
    overflow: hidden;
}

.header-content {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 40px;
    color: #ff5733;
}

/* Estilos para a seção de álbuns */
.albuns {
    text-align: center;
    margin-bottom: 40px;
}

.grid-albuns {
    display: flex;
    justify-content: center; /* Centraliza os itens horizontalmente */
    flex-wrap: wrap; /* Permite quebra de linha para os itens */
    gap: 20px; /* Espaço entre os álbuns */
    padding: 0 20px;
}

.album-item {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.album-item img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.album-item h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.album-item p {
    font-size: 14px;
    color: #555;
}

.album-item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
